.Card {

  margin-top: 40px;
  max-width: 176px;

  .header {
    min-height: 264px;
    padding-top: 100%;
    min-width: 174px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 4px;
    border: 1px solid #E7E7E7;

    &:hover{
      &::after{
        content: '';
        position: absolute;
        height: 100%;
        top: 0;
        width: 100%;
        background-color: rgba(45, 12, 94, 0.3);
      }
    }

  }

  p {
    margin-top: 12px;
    color: #000000;
    font-weight: 700;
    line-height: 1;
  }

  span {
    color: #646464;
    font-weight: 700;

  }

  &:hover {
  }
}