.Catalog {

  svg {
    display: block;
    margin: 0 auto;
    max-width: 30vw;
  }

  .Row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 390px;
  }

  h1 {
    color: black;
  }
}