// GRID
// ============================================================================

$grid-gutter: 2% !default;



// BREAKPOINTS
// ============================================================================

$xs: 480px !default;
$sm: 768px !default;
$md: 992px !default;
$lg: 1200px !default;



// COLORS
// ============================================================================

// Texts
$color-text: #313439 !default;
$color-heading: #0d0d0e !default;

// Links
$color-link: #1c86f2 !default;
$color-link-hover: darken($color-link, 10%) !default;

// Buttons
$color-button-primary: #1c86f2 !default;
$color-button-primary-text: #ffffff !default;
$color-button-secondary: #313439 !default;
$color-button-secondary-text: #ffffff !default;

// States
$color-error: #ee5253 !default;
$color-success: #2ecc71 !default;
$color-warning: #feca57 !default;
$color-focus: #1c86f2 !default;



// FONT
// ============================================================================

// Font families
$font-family: 'Roboto', sans-serif;
$font-family-monospace: Consolas, Monaco, 'Courier New', monospace !default;

// Texts sizes
$font-size: 16px;
$font-size-small: $font-size - 2px !default;

// Headings sizes
$font-size-h1: 40px !default;
$font-size-h2: 30px !default;
$font-size-h3: 24px !default;
$font-size-h4: 20px !default;
$font-size-h5: 18px !default;
$font-size-h6: 16px !default;



// BASELINES
// ============================================================================

$baseline: 1.5 !default;
$baseline-heading: 1 !default;



// SIZES
// ============================================================================

$height-input: $font-size * 2.25 !default;



// MARGINS
// ============================================================================

$margin-1x: $font-size * $baseline !default;
$margin-2x: $margin-1x * 2 !default;



// PADDINGS
// ============================================================================

$padding-1x: ($font-size * $baseline) / 2 !default;
$padding-2x: $padding-1x * 2 !default;
$padding-3x: $padding-1x * 3 !default;





// BORDERS
// ============================================================================

$border-color-input: #d4d4d4 !default;
$border-radius: 4px !default;



// Breakpoint
@mixin breakpoint($min: 0, $max: 0) {
    $type: type-of($min);

    @if $type == string {
        @if $min == sm {
            @media (max-width: $sm) { @content; }
        } @else if $min == md {
            @media (min-width: $sm) and (max-width: $md) { @content; }
        } @else if $min == lg {
            @media (min-width: $lg) { @content; }
        }
    } @else if $type == number {
        $query: "all" !default;
        @if $min != 0 and $max != 0 { $query: "(min-width: #{$min}) and (max-width: #{$max})"; }
        @else if $min != 0 and $max == 0 { $query: "(min-width: #{$min})"; }
        @else if $min == 0 and $max != 0 { $query: "(max-width: #{$max})"; }
        @media #{$query} { @content; }
    }
}

// Grid gutters
@mixin grid-gutters($gutter) {
    & {
        margin-left: -$gutter;
    }

    > .col {
        margin-left: $gutter;
    }

    @for $i from 1 through 12 {
        > ._col-#{$i} {
            $width: 100% / 12 * $i;
            width: calc(#{$width} - #{$gutter});
        }

        ._offset-#{$i} {
            $width: 100% / 12 * $i;
            margin-left: calc(#{$width} + #{$gutter});
        }
    }

    @include breakpoint(sm) {
        & {
            margin-left: 0;

            .Row {
                margin-left: 0;
            }

            .col {
                width: auto;
            }
        }

        .col {
            margin-left: 0;
            margin-bottom: $margin-1x;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

// Clearfix
@mixin clearfix {
    &:after {
        content: '';
        display: table;
        clear: both;
    }
}

// Vertical align
@mixin vertical-align($position: absolute) {
    position: $position;
    top: 50%;
    transform: perspective(1px) translateY(-50%);
}

// Strip unit
@function strip-unit($number) {
    @if type-of($number) == 'number' and not unitless($number) {
        @return $number / ($number * 0 + 1);
    }

    @return $number;
}

// Logo
@mixin logo($url, $w, $h) {
    display: block;
    width: #{strip-unit($w)}px;
    background: transparent url($url) no-repeat center center;
    background-size: contain;
    font-size: 1px;
    text-indent: -9999px;
    overflow: hidden;

    &:after {
        content: '';
        display: block;
        padding-top: #{(strip-unit($h)/strip-unit($w))*100%};
    }
}

// Button
@mixin button($color-text, $color-back) {
    background-color: $color-back;
    color: $color-text;

    &:hover {
        background-color: darken($color-back, 10%);
        color: $color-text;
    }

    &:disabled,
    &._disabled {
        &:hover {
            background-color: $color-back;
        }
    }

    &._outline {
        &,
        &:disabled,
        &._disabled {
            border-color: $color-back;
            background: none;
            color: $color-back;
        }

        &:hover {
            border-color: darken($color-back, 20%);
            color: darken($color-back, 20%);

            &:disabled,
            &._disabled {
                border-color: $color-back;
                color: $color-back;
            }
        }
    }
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}

@media print {

    * {
        background: transparent !important;
        color: black !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    pre {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    h2, h3, h4 {
        page-break-after: avoid;
    }

    p, h2, h3 {
        orphans: 3;
        widows: 3;
    }

    thead {
        display: table-header-group;
    }

    tr, img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }
}

* {
    outline: none;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

*,
:after,
:before{
    box-sizing: border-box;
}

html, body, main, header, footer, section,
article, aside, figure, nav, div {
    position: relative;
}

body {
    background-color: transparent;
    color: $color-text;
    font-family: $font-family;
    font-size: $font-size;
    line-height: $baseline;
    overflow-x: hidden;
}

// Headings
h1, h2, h3, h4, h5, h6 {
    margin: 0 0 $margin-1x 0;
    color: $color-heading;
    font-weight: 700;
    text-rendering: optimizeLegibility;
    line-height: $baseline-heading;
}

h1, ._h1 {font-size: $font-size-h1;}
h2, ._h2 {font-size: $font-size-h2;}
h3, ._h3 {font-size: $font-size-h3;}
h4, ._h4 {font-size: $font-size-h4;}
h5, ._h5 {font-size: $font-size-h5;}
h6, ._h6 {font-size: $font-size-h6;}

h1 a, ._h1 a,
h2 a, ._h2 a,
h3 a, ._h3 a,
h4 a, ._h4 a,
h5 a, ._h5 a,
h6 a, ._h6 a {
    color: inherit;
}

// Text
p {
    margin: 0 0 $margin-1x 0;
}

// Links
a {
    color: $color-link;
    cursor: pointer;

    &:hover {
        color: $color-link-hover;
    }
}

// Lists
ul, ol {
    margin: 0 0 $margin-1x $margin-1x;
    padding: 0;

    & ul,
    & ol {
        margin: 0 0 0 $margin-1x;
    }

}

ol ol li {
    list-style-type: lower-alpha;
}

ol ol ol li {
    list-style-type: lower-roman;
}

nav {
    & ul,
    & ol {
        margin: 0;
        list-style: none;
    }
}

dl {
    margin-top: 0;
    margin-bottom: $margin-1x;

    dt {
        font-weight: 700;
    }

    dd {
        margin-left: $margin-1x;
    }
}

// Quotes
blockquote {
    margin: 0 0 $margin-1x $margin-2x;
}

// HR
hr {
    margin: -1px 0 $margin-1x 0;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}

// Figure
figure {
    margin: 0;
}

// Images
img {
    display: block;
    height: auto;
    max-width: 100%;
}

a img {
    border: none;
}

// Preformatted
pre, code, samp, var, kbd {
    font-family: $font-family-monospace;
    font-size: 87.5%;
}

pre {
    display: block;
    margin: 0 0 $margin-1x 0;
    padding: 1rem;
    background: #f8f8f8;
    color: rgba($color-text, .85);
    line-height: $baseline;
    overflow: none;
    white-space: pre-wrap;
}

mark, code, samp, kbd {
    position: relative;
    padding: 4px;
    display: inline-block;
    line-height: 1;
    color: rgba($color-text, .85);
}

kbd {
    border: 1px solid rgba(0, 0, 0, .1);
}

// Tables
table {
    margin: 0 0 $margin-1x 0;
    border-collapse: collapse;
    border-spacing: 0;

    th {
        text-align: left;
    }
}

// Forms
form {
    margin: 0 0 $margin-1x 0;
}

fieldset {
    margin: 0;
    padding: 0;
    border: 0;
}

textarea {
    resize: none;
}

input[type="radio"],
input[type="checkbox"] {
    position: relative;
    bottom: 1px;
    margin-right: 2px;
}

input[type="search"] {
    -webkit-appearance: textfield;

    &::-webkit-search-decoration,
    &::-webkit-search-cancel-button {
        -webkit-appearance: none;
    }
}

button {
    margin: 0;
    padding: 2px;
    cursor: pointer;
}

// Display
._display-block {
    display: block;
}

// Visibility
._invisible {
    visibility: hidden;
}

._visible {
    visibility: visible;
}

._hide {
    display: none !important;
}

@include breakpoint(sm) {
    ._hide-sm {
        display: none !important;
    }
}

@include breakpoint($min: $sm + 1) {
    ._show-sm {
        display: none !important;
    }
}

// Print
@media print {
    ._hide-print {
        display: none !important;
    }
    ._show-print {
        display: block !important;
    }
}

// No scroll
._no-scroll {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100% !important;
    overflow: hidden;
}

// Responsive embedded objects
._video {
    position: relative;
    height: 0;
    margin-bottom: $margin-1x;
    padding-bottom: 56.25%; // ratio 16:9
    & iframe,
    & object,
    & embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
    }
}

// Margins
._mb0   {margin-bottom: 0px !important;}
._mb5   {margin-bottom: 5px !important;}
._mb10  {margin-bottom: 10px !important;}
._mb15  {margin-bottom: 15px !important;}
._mb20  {margin-bottom: 20px !important;}
._mb25  {margin-bottom: 25px !important;}
._mb30  {margin-bottom: 30px !important;}
._mb35  {margin-bottom: 35px !important;}
._mb40  {margin-bottom: 40px !important;}
._mb45  {margin-bottom: 45px !important;}
._mb50  {margin-bottom: 50px !important;}
._mb55  {margin-bottom: 55px !important;}
._mb60  {margin-bottom: 60px !important;}
._mb65  {margin-bottom: 65px !important;}
._mb70  {margin-bottom: 70px !important;}
._mb75  {margin-bottom: 75px !important;}
._mb80  {margin-bottom: 80px !important;}
._mb85  {margin-bottom: 85px !important;}
._mb90  {margin-bottom: 90px !important;}
._mb95  {margin-bottom: 95px !important;}
._mb100 {margin-bottom: 100px !important;}

// Float
._group {
    @include clearfix;
}

._float-right {
    float: right;
}

._float-left {
    float: left;
}

@include breakpoint(sm) {
    ._float-right { float:none;}
    ._float-left  { float:none;}
}

// Fixed
._fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

// Alignment
._middle {
    @include vertical-align();
}

// Width
._w5   { width: 5%; }
._w10  { width: 10%; }
._w15  { width: 15%; }
._w20  { width: 20%; }
._w25  { width: 25%; }
._w30  { width: 30%; }
._w35  { width: 35%; }
._w40  { width: 40%; }
._w45  { width: 45%; }
._w50  { width: 50%; }
._w55  { width: 55%; }
._w60  { width: 60%; }
._w65  { width: 65%; }
._w70  { width: 70%; }
._w75  { width: 75%; }
._w80  { width: 80%; }
._w85  { width: 85%; }
._w90  { width: 90%; }
._w95  { width: 95%; }
._w100 { width: 100%; }
._w-auto { width: auto; }

._h100 { height: 100%; }
._h-auto { height: auto; }

@include breakpoint(sm) {
    ._w5-xs   { width: 5%; }
    ._w10-xs  { width: 10%; }
    ._w15-xs  { width: 15%; }
    ._w20-xs  { width: 20%; }
    ._w25-xs  { width: 25%; }
    ._w30-xs  { width: 30%; }
    ._w35-xs  { width: 35%; }
    ._w40-xs  { width: 40%; }
    ._w45-xs  { width: 45%; }
    ._w50-xs  { width: 50%; }
    ._w55-xs  { width: 55%; }
    ._w60-xs  { width: 60%; }
    ._w65-xs  { width: 65%; }
    ._w70-xs  { width: 70%; }
    ._w75-xs  { width: 75%; }
    ._w80-xs  { width: 80%; }
    ._w85-xs  { width: 85%; }
    ._w90-xs  { width: 90%; }
    ._w95-xs  { width: 95%; }
    ._w100-xs { width: 100%; }
}

// Alignment
._tal,
._text-left {
    text-align: left;
}

._tac,
._text-center {
    text-align: center;
}

._tar,
._text-right {
    text-align: right;
}

ul._unstyled {
    & {
        margin-left: 0;
    }

    &,
    & ul {
        list-style: none;
    }
}

._monospace {
   font-family: $font-family-monospace;
}

._upper {
    text-transform: uppercase;
}

._lower {
    text-transform: lowercase;
}

._italic {
    font-style: italic !important;
}

._strong {
    font-weight: 700 !important;
}

._normal {
    font-weight: normal !important;
}

._muted {
    opacity: .55;
}

a._muted {
    color: $color-text;

    &:hover {
        opacity: 1;
    }
}

._small {
    font-size: $font-size-small;
}

._nowrap,
._nowrap td {
    white-space: nowrap;
}

// Text Columns
._columns-2,
._columns-3,
._columns-4 {
     column-gap: $margin-1x;
}

._columns-2 {column-count: 2;}
._columns-3 {column-count: 3;}
._columns-4 {column-count: 4;}

@include breakpoint(xs) {
    ._columns-2,
    ._columns-3,
    ._columns-4 {column-count: 1;}
}

.Button {
    display: inline-block;
    height: $height-input;
    padding: 0 $padding-2x;
    border: none;
    border-radius: $border-radius;
    background-color: $color-button-primary;
    color: $color-button-primary-text;
    font-family: $font-family;
    font-size: $font-size-small;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    vertical-align: middle;
    transition: background 200ms ease;
    appearance: none;

    &:hover {
        background-color: darken($color-button-primary, 10%);
        color: $color-button-primary-text;
        text-decoration: none;
        outline: none;
    }

    &._rounded {
        border-radius: $height-input / 2 ;
    }

    &._upper {
        font-size: $font-size-small - 2px;
        letter-spacing: 1px;
    }

    &:disabled,
    &._disabled {
        opacity: .7;
        color: rgba($color-button-primary-text, 1);
        cursor: default;

        &:hover {
            background-color: $color-button-primary;
        }
    }

    &._outline {
        &,
        &:disabled,
        &._disabled {
            border: 2px solid $color-button-primary;
            background: none;
            color: $color-button-primary;
        }

        &:hover {
            border-color: darken($color-button-primary, 20%);
            color: darken($color-button-primary, 20%);

            &:disabled,
            &._disabled {
                border-color: $color-button-primary;
                color: $color-button-primary;
            }
        }
    }

    &._secondary {
        @include button($color-button-secondary-text, $color-button-secondary);
    }
}

.Button {
    line-height: $height-input - 1px;
}

input[type="color"],
input[type="date"],
input[type="datetime-local"],
input[type="email"],
input[type="hidden"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
input[type="range"],
textarea,
select {
    display: block;
    width: 100%;
    height: $height-input;
    padding: 0 $padding-1x;
    border: 1px solid $border-color-input;
    border-radius: $border-radius;
    background-color: #fff;
    font-size: $font-size-small;
    outline: none;
    box-shadow: none;

    &:focus {
        border-color: $color-focus;
    }

    &._error {
        border-color: lighten($color-error, 20%);

        &:focus {
            border-color: $color-error;
        }
    }

    &._success {
        border-color: lighten($color-success, 20%);

        &:focus {
            border-color: $color-success;
        }
    }

    &:disabled,
    &._disabled {
        resize: none;
        opacity: .7;
        cursor: default;
        color: #aaa;
    }
}

input {
    &[type="search"],
    &._search {
        padding-left: $padding-3x;
        background-repeat: no-repeat;
        background-position: $padding-1x 53%;
        background-image: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'><path fill='%23000' fill-opacity='0.4' d='M14.891,14.39l-0.5.5a0.355,0.355,0,0,1-.5,0L9.526,10.529a5.3,5.3,0,1,1,2.106-4.212,5.268,5.268,0,0,1-1.1,3.21l4.362,4.362A0.354,0.354,0,0,1,14.891,14.39ZM6.316,2.418a3.9,3.9,0,1,0,3.9,3.9A3.9,3.9,0,0,0,6.316,2.418Z'/%3E%3C/svg%3E");
    }
}

textarea {
    padding: $padding-1x;
    height: ($height-input * 2) + $padding-1x;
    line-height: $baseline;
}

select {
    background-image: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='9' height='12' viewBox='0 0 9 12'><path fill='%235e6c75' d='M0.722,4.823L-0.01,4.1,4.134-.01,4.866,0.716Zm7.555,0L9.01,4.1,4.866-.01l-0.732.726ZM0.722,7.177L-0.01,7.9,4.134,12.01l0.732-.726Zm7.555,0L9.01,7.9,4.866,12.01l-0.732-.726Z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right $padding-1x center;
    appearance: none;
}

select[multiple] {
    padding: $padding-1x;
    height: ($height-input * 2) + $padding-1x;
    background-image: none;
}

.Form {
    margin-bottom: $margin-1x;

    .form-item,
    .form-group {
        margin-bottom: $margin-1x / 2;

        label {
            display: block;
            margin-bottom: $margin-1x / 4;
            color: $color-text;
            font-size: $font-size-small;
            line-height: 1;
        }

        > div {
            display: flex;
            flex-direction: row;

            label {
                margin-right: $margin-1x / 2;
                margin-bottom: 0;
            }
        }
    }

    .form-item {
        > div {
            flex-wrap: wrap;
        }
    }

    .form-group {
        > div {
            flex-wrap: nowrap;

            > input {
                width: 1%;
                flex: 1 1 auto;

                &:not(:first-child) {
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                }

                &:not(:last-child) {
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;
                }
            }

            > .prepend,
            > .append {
                    height: $height-input;
                    line-height: $height-input;
                    padding: 0 $padding-1x;
                    border: 1px solid $border-color-input;
                    border-radius: $border-radius;
                    background-color: #f8f8f8;
                    color: rgba(0, 0, 0, .7);
                    font-size: $font-size-small;
                    white-space: nowrap;
            }

            > .prepend {
                    border-right: none;
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;
            }

            > .append {
                    border-left: none;
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
            }
        }
    }

    &._horizontal {
        .form-item,
        .form-group,
        .form-buttons {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;

            > label {
                width: 30%;
                line-height: $height-input;
            }

            > div {
                width: 70%;

                label {
                    line-height: $height-input;
                }
            }
        }

        .form-buttons {
            > div {
                margin-left: 30%;
            }
        }
    }

    &._inline {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;

        .form-item,
        .form-group,
        .form-buttons {
            flex: 1 0 auto;
            margin-right: $margin-1x;
            margin-bottom: 0;

            > div {
                label {
                    margin-bottom: 0;
                    line-height: $height-input;
                }
            }
        }

        .form-buttons {
            flex: 0 1 auto;
            align-self: flex-end;
            margin-right: 0;
        }
    }
}

@include breakpoint(sm) {
    .Form {
        .form-item {
            > div {
                flex-direction: column;

                label {
                    margin-bottom: $margin-1x / 4;

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }

        &._horizontal {
            .form-item,
            .form-group,
            .form-buttons {
                flex-direction: columns;
                flex-wrap: wrap;

                > label {
                    width: 100%;
                    line-height: 1;
                }

                > div {
                    width: 100%;

                    label {
                        line-height: 1;
                    }
                }
            }

            .form-buttons {
                > div {
                    margin-left: 0;
                }
            }
        }

        &._inline {
            flex-direction: column;
            flex-wrap: wrap;

            .form-item,
            .form-group,
            .form-buttons {
                width: 100%;
                margin-right: 0;
                margin-bottom: $margin-1x / 2;

                > div {
                    label {
                        margin-bottom: $margin-1x / 4;
                        line-height: 1;

                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }
            }

            .form-buttons {
                align-self: flex-start;
            }
        }
    }
}

.Message {
    margin-bottom: $margin-1x;
    padding: $padding-1x;
    border-radius: $border-radius;
    background-color: #eee;
    background-position: $padding-1x ($padding-1x + 2px);
    background-repeat: no-repeat;
    color: $color-text;
    font-size: $font-size-small;

    & a {color: inherit;}

    & p {
        margin-bottom: 0;
    }

    & h1,
    & h2,
    & h3,
    & h4,
    & h5,
    & h6 {
        margin-bottom: $margin-1x / 2;
        color: inherit;
    }

    &._error,
    &._success,
    &._warning,
    &._focus {
        padding-left: $padding-3x;
    }

    &._error {
        background-color: $color-error;
        background-image: url("data:image/svg+xml,%3Csvg width='16px' height='16px' viewBox='0 0 16 16' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ccircle fill='%23FFFFFF' fill-opacity='0.3' cx='8' cy='8' r='8'%3E%3C/circle%3E%3Cpath fill='%23FFFFFF' d='M10.1436941,10.9997314 C10.0011903,11.0041563 9.86242105,10.9537726 9.75600832,10.8589723 L7.99043941,9.09698795 L6.29681218,10.7890919 C6.17890274,10.8883798 6.0282597,10.940328 5.87415477,10.9348424 C5.64569534,10.9320566 5.4281949,10.8365578 5.27164314,10.6702952 C5.05082212,10.4506711 5.00186181,10.2330436 5.00086262,10.0912862 C4.99267818,9.94491823 5.04299275,9.80129164 5.14074923,9.69196964 L6.86335297,7.96991695 L5.1847136,6.29478396 C5.0328367,6.14204538 4.90593956,5.66885525 5.30461641,5.27153526 C5.52943418,5.0469197 5.7502552,5 5.89713614,5 C6.07998793,5 6.21687698,5.07187698 6.28382271,5.14075909 L7.99043941,6.84384424 L9.68506582,5.150742 C9.80332963,5.05138817 9.95430577,4.99944786 10.1087224,5.00499146 C10.3377291,5.00753513 10.5557498,5.10346452 10.7122333,5.27053697 C11.0899271,5.64888942 11.0139887,6.07915302 10.8431272,6.24886256 L9.11852504,7.97191353 L10.8541182,9.70494742 C10.921064,9.77283124 11,9.92457154 11,10.128223 C10.997869,10.3563292 10.9021532,10.5735711 10.7352146,10.7291944 C10.5103968,10.9528117 10.290575,10.9997314 10.1436941,10.9997314 Z' id='Icon-Path'%3E%3C/path%3E%3C/svg%3E");
        color: #fff;
    }

    &._success {
        background-color: $color-success;
        background-image: url("data:image/svg+xml,%3Csvg width='16px' height='16px' viewBox='0 0 16 16' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ccircle fill='%23FFFFFF' fill-opacity='0.3' cx='8' cy='8' r='8'%3E%3C/circle%3E%3Cpath fill='%23FFFFFF' d='M10.598873,5.24922206 L6.92215529,8.93451021 L5.5080331,7.52038801 C5.29858028,7.27580816 4.96970815,7.16927266 4.65662957,7.24458265 C4.34355099,7.31989263 4.09910602,7.5643376 4.02379604,7.87741618 C3.94848605,8.19049476 4.05502155,8.51936689 4.2996014,8.72881971 L6.31365423,10.751443 C6.47539452,10.91187 6.69435051,11.0013027 6.92215529,11 C7.14699205,10.9990389 7.3624524,10.9097768 7.52208592,10.751443 L11.8073047,6.4662242 C11.9695539,6.3053 12.0608168,6.08624316 12.0608168,5.85772313 C12.0608168,5.62920309 11.9695539,5.41014626 11.8073047,5.24922206 C11.4730255,4.91692598 10.9331522,4.91692598 10.598873,5.24922206 Z' id='Icon-Path' fill-rule='nonzero'%3E%3C/path%3E%3C/svg%3E");
        color: #fff;
    }

    &._warning {
        background-color: $color-warning;
        background-image: url("data:image/svg+xml,%3Csvg width='16px' height='16px' viewBox='0 0 16 16' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ccircle fill='%23FFFFFF' fill-opacity='0.3' cx='8' cy='8' r='8'%3E%3C/circle%3E%3Cpath fill='%23FFFFFF' d='M8,4 C8.55228475,4 9,4.44771525 9,5 L9,8 C9,8.55228475 8.55228475,9 8,9 C7.44771525,9 7,8.55228475 7,8 L7,5 C7,4.44771525 7.44771525,4 8,4 Z M8,10 C8.55228475,10 9,10.4477153 9,11 C9,11.5522847 8.55228475,12 8,12 C7.44771525,12 7,11.5522847 7,11 C7,10.4477153 7.44771525,10 8,10 Z' id='Combined-Shape' fill-rule='nonzero'%3E%3C/path%3E%3C/svg%3E");
        color: #fff;
    }

    &._focus {
        background-color: $color-focus;
        background-image: url("data:image/svg+xml,%3Csvg width='16px' height='16px' viewBox='0 0 16 16' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ccircle fill='%23FFFFFF' fill-opacity='0.3' cx='8' cy='8' r='8'%3E%3C/circle%3E%3Cpath fill='%23FFFFFF' d='M8,7 C8.55228475,7 9,7.44771525 9,8 L9,11 C9,11.5522847 8.55228475,12 8,12 C7.44771525,12 7,11.5522847 7,11 L7,8 C7,7.44771525 7.44771525,7 8,7 Z M8,4 C8.55228475,4 9,4.44771525 9,5 C9,5.55228475 8.55228475,6 8,6 C7.44771525,6 7,5.55228475 7,5 C7,4.44771525 7.44771525,4 8,4 Z' id='Combined-Shape' fill-rule='nonzero'%3E%3C/path%3E%3C/svg%3E");
        color: #fff;
    }
}

.Row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    > .col {
        flex: 1 1 0%;

        &[class*=' _col-'] {
            flex: 0 1 auto;
        }

        @for $i from 1 through 12 {
            &._col-#{$i} {
                width: 100% / 12 * $i;
            }

            &._offset-#{$i} {
                $width: 100% / 12 * $i;
                margin-left: $width;
            }
        }
    }

    @include breakpoint(sm) {
        flex-direction: column;
        flex-wrap: nowrap;

        > .col {
            &,
            &[class*=' _col-'] {
                width: 100%;
            }

            // Offset
            &[class^='_offset-'],
            &[class*=' _offset-'] {
                margin-left: 0;
            }
        }
    }

    &._gutters {
        @include grid-gutters($grid-gutter);
    }
}

.Table {
    width: 100%;
    font-size: $font-size-small;
    line-height: $baseline;
    empty-cells: show;

    th {
        vertical-align: bottom;
    }

    td {
        vertical-align: top;
    }

    th,
    td {
        padding: $padding-1x;
        border-bottom: 1px solid rgba(0, 0, 0, .05);

        &:first-child {
            padding-left: 0;
        }

        &:last-child {
            padding-right: 0;
        }
    }

    tfoot th,
    tfoot td {
        color: rgba($color-text, .5);
    }

    // Modificadores
    &._bordered {
        & td,
        & th {
            border: 1px solid rgba(0, 0, 0, .05);
        }
    }

    &._striped tr:nth-child(odd) td {
        background: rgba(0, 0, 0, 0.02);
    }

    &._bordered,
    &._striped {
        & td,
        & th {
            &:first-child {
                padding-left: $padding-1x;
            }
            &:last-child {
                padding-right: $padding-1x;
            }
        }
    }

    &._unstyled {
        & td,
        & th {
            border: none;
            padding: 0;
        }
    }

    tr._align-middle td,
    td._align-middle {
        vertical-align: middle;
    }
}