.Banner {
  height: 449px;
  background-color: #2D0C5E;
  display: flex;
  width: 100%;

  h1 {
    line-height: 56px;
    max-width: 781px;
  }

  .Row {
    height: 100%;
    width: 100%;
    align-items: center;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    height: 100%;
  }
}