
.Rating {
  display: inline-block;

  .progress {
      stroke-width: 5;
      stroke: #14FF00;
      stroke-linecap: round;
      fill: none;
      transform: rotate(270deg);
      transform-origin: center;
    }

    .content {
      width: 100px;
      height: 100px;

      stroke-dasharray: 78.664;

      small {
        color: #14FF00;
        font-size: 16px;
        position: absolute;
        left: calc(50% - 14px);
        top: calc(50% - 12px);
        font-weight: bold;
      }
      
  }
}