.MovieSingle {

  height: 2500px;
  background-color: #E5E5E5;

  .Card {
    max-width: 176px;
  
    .header {
      min-height: 264px;
      padding-top: 100%;
      min-width: 174px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 4px;
      border: 1px solid #E7E7E7;
  
      &:hover{
        &::after{
          content: '';
          position: absolute;
          height: 100%;
          top: 0;
          width: 100%;
          background-color: rgba(45, 12, 94, 0.3);
        }
      }
  
    }
  
    p {
      margin-top: 12px;
      color: #000000;
      font-weight: 700;
      line-height: 1;
    }
  
    span {
      color: #646464;
      font-weight: 700;
  
    }
  
    &:hover {
    }
  }

  .Banner {
    display: inherit;
    height: 600px;
    padding-top: 72px ;
    
    .content {
      display: block;
    }

    .info {
      display: flex;
      align-items: center;

      ul {
        margin: 0;
        li {
          display: inline-block;
          margin-right: 5px;
        }
      }
    }

    .rating {
      display: flex;
      margin-bottom: 20px;
      flex-direction: row;
          left: -40px;
      align-items: center;
      
      p {
        display: inline-block;
        margin-bottom: 0;
      }

    }
  }


  .Casters {
    padding-top: 80px;

    h2 {
      color: #000;
      margin-bottom: 0;
    }

    .Row {
        flex-wrap: nowrap;
        overflow-x: scroll;
        padding: 0 0 30px 0px;

      /* width */
      ::-webkit-scrollbar {
        width: 20px;
      }
    
      /* Track */
      ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey; 
        border-radius: 10px;
      }
      
      /* Handle */
      ::-webkit-scrollbar-thumb {
        background: #2D0C5E; 
        border-radius: 10px;
      }
    
      /* Handle on hover */
      ::-webkit-scrollbar-thumb:hover {
        background: #3e1776; 
      }

      .Card {
        width: 100%;
        min-width: 200px;
        margin-right: 20px;
        background-color: #FFF;
        padding: 5px;
        box-shadow: 0px 4px 4px 0px #00000040;
      
        .header {
          min-height: 264px;
          padding-top: 100%;
          min-width: none;
          border: 1px solid #E7E7E7;
      
          &:hover{
            &::after{
              content: '';
              position: absolute;
              height: 100%;
              top: 0;
              width: 100%;
              background-color: rgba(45, 12, 94, 0.3);
            }
          }
      
        }
      
        p {
          margin-top: 12px;
          color: #000000;
          font-weight: 700;
          line-height: 1;
        }
      
        span {
          color: #646464;
          font-weight: 700;
      
        }
      
        small {
          display: inline-block;
          margin-right: 5px;
          color: #131313;
          font-size: 16px;
        }
      }
    }
  }

  .Recommendations {
    .Card {
    
      .header {
    
      }
    
      p {
        margin-top: 12px;
        color: #000000;
        font-weight: 700;
        line-height: 1;
      }
    
      span {
        color: #646464;
        font-weight: 700;
    
      }
    }
  }
}